<div class="container mt-5">
    <div style="text-align: center;">
        
            <h1>CRUD</h1>
            <p class="lead">This is a simple CRUD site</p>
            <div class="text-center">
                <button (click) ="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
            </div>
    </div>
    
</div>

    <div class="info-container">
        <h1>CRUD Task</h1>
        <h3>Implementing SSO using Google Authenticator(The Optional Task)</h3>
  <p>You can press on the Google Auth button at the top and log in with your Google account. After logging in, a button will appear that you can click to trigger an action on the backend. This action requires a token to validate it and ensure it comes from Google. With this token, you can access any endpoint or application without needing to log in again, effectively acting as SSO with a simple task.</p>

  <h3>Admin User Access</h3>
  <p>If you log in as an admin with username:admin and password:admin, you can navigate to any user’s detailed page and delete them. To navigate to any user detailed page, you will find a small icon (Font-awesome) below user's image click on it and it will navigate you to the user's detailed page.</p>

  <h3>Editing Profile</h3>  
  <p>You can hover over the welcome dropdown in the top right corner to find the "Edit Profile" option. This allows you to update your personal information.</p>
   
  <h3>Important Note!!!</h3>  
  <p>All Seed users has password : 'Pa$$w0rd'  to log in, it's just for the seeded users, for any registred users you can choose your prefered password when register a new user so please be carful when typing the password or you can delete the database and modify the password inside the seed class in the backend to your prefered password thanks!</p>

    </div>
